<template>
    <v-main>
        <v-app-bar flat>
            <v-app-bar-title>
                <v-btn icon="mdi-menu" @click="menu = !menu">
                </v-btn>
                Admiral Territorial's Tools
            </v-app-bar-title>
            <v-btn icon="mdi-share" tooltip="Share" :disabled="serverless" @click="create_link()">
                Battle Logs
            </v-btn> 
            <v-btn icon="mdi-share" tooltip="Share" :disabled="serverless" @click="create_link()">
                Diplomacy
            </v-btn> 

            <v-spacer></v-spacer>
            <v-btn icon="mdi-share" tooltip="Share" :disabled="serverless" @click="create_link()">
                Share
            </v-btn> </v-app-bar>
        <v-navigation-drawer v-model="menu" temporary>
            <v-list>
                <v-list-item prepend-icon="mdi-upload" :active="view == 'upload'" @click="view = 'upload'; menu = false"
                    title="Upload Log"></v-list-item>
                <v-list-item prepend-icon="mdi-list-box" :active="view == 'summary'" :disabled="!battle_log.loaded"
                    @click="view = 'summary'; menu = false" title="Summary"></v-list-item>
                <v-list-item prepend-icon="mdi-sword-cross" :active="view == 'timeline'" :disabled="!battle_log.loaded"
                    @click="view = 'timeline'; menu = false" title="Battle"></v-list-item>
                <v-list-item prepend-icon="mdi-raw" :active="view == 'raw'" @click="view = 'raw'; menu = false"
                    :disabled="!battle_log.loaded" title="Raw Data"></v-list-item>
            </v-list>
        </v-navigation-drawer>
        <v-alert v-if="serverless" color="info" title="Serverless Mode" variant="tonal">
            <div>
                Hello! You are using a serverless deployment of the Battle Log tool. This means you are <i>probably</i>
                looking at the very latest development version.
            </div>
            <div>
                Please note that in serverless mode, share links are <b>disabled</b>.
            </div>
            <v-btn @click="release" class="float-right" color="info" variant="outlined">go to the official release
                version</v-btn>
        </v-alert>
        <Upload v-if="view == 'upload'" @change="select_log" @error="upload_error" />
        <Raw v-if="view == 'raw'" :battle_log="battle_log" />
        <TimeLine v-if="view == 'timeline'" :battle_log="battle_log" />
        <Summary v-if="view == 'summary'" :battle_log="battle_log" />
        <v-snackbar v-model="alert">
            {{ alert_message }}

            <template v-slot:actions>
                <v-btn color="pink" variant="text" @click="alert = false">
                    Ok. Fine.
                </v-btn>0
            </template>
        </v-snackbar>
        <v-dialog
      v-model="share_link_dialog"
      width="auto"
    >
      <v-card>
        <v-card-text>
          {{  share_link  }}
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="secondary" @click="copy_to_clipboard">Copy to Clipboard</v-btn>
          <v-btn color="primary" @click="share_link_dialog = false">Close Dialog</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>        
    </v-main>
</template>
<script lang="ts">
import BattleLog from "../analysis/BattleLog"
import Upload from "./Upload.vue"
import TimeLine from "./TimeLine.vue"
import Raw from "./Raw.vue"
import Summary from "./Summary.vue"
import { defineComponent } from 'vue'

export default defineComponent({
    name: "BattleLogsView",
    data() {
        return {
            serverless: false,
            alert: false,
            alert_message: "",
            menu: false,
            view: "upload",
            share_link_dialog: false,
            share_link: "",
            battle_log: new BattleLog()
        }
    },
    mounted() {
        fetch("/api/heartbeat").then(data => data.json()).then(data => {
            console.log(data);
        }).catch(e => {
            console.log(e);
            this.serverless = true;
        })
        let params = (new URL(document.location.href)).searchParams;
        let shared_log = params.get("log");
        if(shared_log) {
            fetch("/api/" + shared_log).then(data => data.json()).then(data => {
                console.log(data);
                if(data.alert) {
                    this.alert = true;
                    this.alert_message = data.alert;
                } else {
                    this.battle_log = new BattleLog(data);
                    this.view = "summary";
                }
            }).catch(e => {
                console.log(e);
            });
            window.history.replaceState({}, document.title, document.location.pathname);
        }
    },
    methods: {
        create_link() {
            console.log("Create link");
            let request_options = {
                method: "PUT", 
                body: JSON.stringify(this.battle_log.tables), 
                headers: {
                    'Content-Type': 'application/json',
                }
            };
            console.log(request_options);
            fetch("/api/" + this.battle_log.title.replace(/\s/g, "_").toLowerCase(), request_options).then(data => data.json()).then(data => {
                console.log(data);
                if(data.error) {
                    this.alert = true;
                    this.alert_message = data.message;
                } else {
                    this.share_link_dialog = true;
                    this.share_link = document.location.origin + "?log=" + data.id;
                }
            });
        },
        copy_to_clipboard() {
            navigator.clipboard.writeText(this.share_link);
        },
        upload_error(message: string) {
            this.alert = true;
            this.alert_message = message;
        },
        select_log(battle_log: BattleLog) {
            console.log("Setting new battle log", battle_log)
            if (battle_log.loaded) {
                this.battle_log = battle_log
                this.view = "summary"
            }
        },
        release() {
            window.location.href = "https://stfc.territorial.tools";
            // alert("Ok so this is embarrassing... the tool isn't actually released yet!")
        }
    },
    components: { Upload, Raw, TimeLine, Summary }
})
</script>
