<template>
    <v-container class="px-6" v-if="battle_log">
        <v-row v-if="battle_log">
            <v-col cols="12">
                <v-card flat>
                    <v-card-title>Battle Summary</v-card-title>
                    <v-card-subtitle>
                        <v-icon size="large"> mdi-map-marker </v-icon>{{ battle_log.location }},
                        {{ battle_log.timestamp }}
                    </v-card-subtitle>
                    <v-card-text>{{ battle_log.title }}</v-card-text>
                </v-card>
            </v-col>
        </v-row>
        <v-row>
            <v-col v-for="ship of battle_log.ships" :key="ship.player" class="v-cols-auto v-cols-xl-4 v-cols-lg-4" >
            <v-card flat>
                <v-card-title>{{ ship.player }}</v-card-title>
                <v-card-subtitle>{{  ship.name }}
                    <span class="float-right">{{ship.strength.toLocaleString("en-US")}}</span>
                </v-card-subtitle>
                <v-card-text>
                    <p v-if="ship.captain"><v-icon>mdi-account-tie-hat</v-icon> {{ ship.captain }}</p>
                    <p v-if="ship.officer1"><v-icon>mdi-account-tie</v-icon> {{ ship.officer1 }}</p>
                    <p v-if="ship.officer2"><v-icon>mdi-account-tie</v-icon> {{ ship.officer2 }}</p>
                </v-card-text>
            </v-card>
            </v-col>
        </v-row>
        <v-row>
            <v-col v-for="ship of battle_log.ships" :key="ship.player" class="v-cols-auto v-cols-xl-4 v-cols-lg-4" >
            <v-card flat>
                <v-card-title>{{ ship.player }}</v-card-title>
                <v-card-subtitle>Damage Dealt
                </v-card-subtitle>
                <v-card-text v-if="battle_log.damage_pies[ship.player]">
                    <Pie id="my-chart-id" :options="chartOptions" :data="battle_log.damage_pies[ship.player]" />
                </v-card-text>
            </v-card>
            </v-col>
        </v-row>

        <v-row>
            <v-col class="v-cols-auto v-cols-xl-4 v-cols-lg-4">
                <v-card flat>
                    <v-card-title>Total Damage</v-card-title>
                    <Pie id="total_damage_chart" :options="chartOptions" :data="battle_log.total_damage" />
                </v-card>
            </v-col>
            <v-col class="v-cols-auto v-cols-xl-4 v-cols-lg-4">
                <v-card flat>
                    <v-card-title>Unmitigated Damage</v-card-title>
                    <Pie id="my-chart-id" :options="chartOptions" :data="battle_log.unmitigated_damage" />
                </v-card>
            </v-col>
            <v-col class="v-cols-auto v-cols-xl-4 v-cols-lg-4">
                <v-card flat>
                    <v-card-title>Hull Damage</v-card-title>
                    <Pie id="my-chart-id" :options="chartOptions" :data="battle_log.hull_damage" />
                </v-card>
            </v-col>
        </v-row>
        <v-row>
            <v-col cols="12">
                <v-card>
                    <v-card-title>Damage Done</v-card-title>
                    <v-table>
                        <thead>
                            <tr>
                                <th></th>
                                <th v-for="header in battle_log.summary.headers" :key="header" class="text-left">
                                    {{ header }}
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="item in battle_log.summary.rows" :key="Object.values(item).join('-')">
                                <td>
                                    <strong>{{ item[0] }}</strong>
                                </td>
                                <td v-for="value in item.slice(1)" :key="value">
                                    {{ value }}
                                </td>
                            </tr>
                        </tbody>
                    </v-table>
                </v-card>
            </v-col>
        </v-row>
        <v-row>
            <v-col cols="12">
                <v-card>
                    <v-card-title>Damage Received</v-card-title>
                    <v-table>
                        <thead>
                            <tr>
                                <th></th>
                                <th v-for="header in battle_log.summary.headers" :key="header" class="text-left">
                                    {{ header }}
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="item in battle_log.summary.rows_received" :key="Object.values(item).join('-')">
                                <td>
                                    <strong>{{ item[0] }}</strong>
                                </td>
                                <td v-for="value in item.slice(1)" :key="value">
                                    {{ value }}
                                </td>
                            </tr>
                        </tbody>
                    </v-table>
                </v-card>
            </v-col>
        </v-row>

        <v-row>
            <v-col>
                <v-card flat>
                    <v-card-title>Damage per Round</v-card-title>
                    <Line :data="battle_log.damage_per_round" :options="chartOptions" />
                </v-card>
            </v-col>
        </v-row>
    </v-container>
</template>
<script lang="ts">
import { INumberTable, BattleLog } from '../analysis/BattleLog'
import { defineComponent } from 'vue'
// @ts-ignore
import { Pie, Line } from "vue-chartjs"

import {
    Chart as ChartJS,
    ArcElement,
    BarElement,
    CategoryScale,
    Legend,
    LinearScale,
    LineElement,
    PointElement,
    Title,
    Tooltip,
    // @ts-ignore    
} from "chart.js"

ChartJS.register(
    ArcElement,
    Title,
    Tooltip,
    Legend,
    BarElement,
    CategoryScale,
    LinearScale,
    PointElement,
    LineElement
);

ChartJS.defaults.color = "#d6d6d6"
ChartJS.defaults.borderColor = "#424242"

export default defineComponent({
    data: () => ({
        summary: {
            headers: [] as Array<string>,
            rows: [] as Array<Array<string>>,
            rows_received: [] as Array<Array<string>>
        },
        chartOptions: {
            responsive: true,
        },
    }),
    props: {
        battle_log: BattleLog
    },
    components: { Pie, Line }
})
</script>