<template>
  <v-container class="px-6">
    <v-row>
      <v-col cols="12">
        <v-card flat>
          <v-card-title>Upload Battle Log</v-card-title>
          <v-card-subtitle>Upload an explorted battle log csv file</v-card-subtitle>
          <v-card-text>
            <v-form>
              <v-file-input accept=".csv,.tsv" label="CSV File" variant="solo" @change="parse_log"></v-file-input>
            </v-form>
          </v-card-text>
        </v-card>
        <v-card>
          <v-list :items="items" @click:select="select_log"></v-list>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script lang="ts">
import BattleLog from '../analysis/BattleLog'
import { defineComponent } from 'vue'

interface LogItem {
  "title": string,
  "value": string
}
interface SelectValue {
  "id": unknown,
  "value": boolean,
  "path": unknown[]
}

export default defineComponent({
  data() {
    return {
      items: [] as Array<LogItem>
    }
  },
  mounted() {
    for (let key of Object.keys(localStorage)) {
      if (key !== "current") {
        this.items.push({
          "title": key,
          "value": key
        });
      }
    }
  },
  methods: {
    select_log(e: SelectValue) {
      this.$emit("change", new BattleLog(JSON.parse(localStorage.getItem(e.id as string) as string)))
    },
    parse_log(e: Event) {
      const target = e.target as HTMLInputElement;
      if (target.files != null) {
        let file = target.files[0];
        let battle_log: BattleLog = new BattleLog();
        battle_log.from_file(file).then(battle_log => {
          try {
            localStorage.setItem(file.name, JSON.stringify(battle_log.tables));
            localStorage.setItem("current", file.name);
          } catch (_e) {
            this.$emit("error", "Storage quota exceeded, battle analysis not saved.");
          }
          this.$emit("change", battle_log)
        })
      }
    }
  }
})
</script>