<template>
  <v-app>
    <BattleLogs />
  </v-app>
</template>

<script lang="ts">
  import BattleLogs from '@/components/BattleLogs.vue'
  import { defineComponent } from 'vue'

  export default defineComponent({
    components: { BattleLogs }
  })
</script>
